APP_ENV=development
APP_CONFIG_PATH=configs/config.example.yaml
SERVER_PORT=9999
SERVER_MODE=debug
DB_ENABLED=true
DB_DRIVER=sqlite
DB_DSN=
DB_NAME=tmp/go_scaffold2.db
REDIS_ENABLED=false
REDIS_ADDR=127.0.0.1:6379
JWT_SECRET=replace_me_in_local_env
